/********************/
/********DESKTOP*********/
/********************/
/********************/
@media screen and (min-device-width: 1300px) {

    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 6%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 6%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;
    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }
}


/********************/
/********DESKTOP*********/
/******Ancho fijo de resoluciones****/
/********************/

@media screen and (min-device-width: 900px) and (max-device-width: 1300px) {
    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 6%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 6%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;
    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }

}

/********IPHONE**********/
/*******Portrait***********/
/********************/

@media only screen and (min-device-width: 375px) and (max-device-width: 926px) and (orientation: portrait) {
    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 1%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 1%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;
    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }
}

/********************/
/********IPHONE**********/
/*******Landscape**********/
/********************/

@media only screen and (min-device-width: 375px) and (max-device-width: 926px) and (orientation: landscape) {
    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;

    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }


}

/********************/
/********IPAD**********/
/*******Portrait*********/
/********************/

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: portrait) {

    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;
    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }

}

/********************/
/********IPAD**********/
/*******Landscape**********/
/********************/

@media only screen and (min-device-width: 768px) and (max-device-width: 1080px) and (orientation: landscape) {

    @font-face {
        font-family: 'versaversa';
        src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
            url('fonts/versa-versa-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }

    body {
        width: auto;
        height: auto;
        margin: auto;
        margin-bottom: 5%;
        font-family: "Open Sans", sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        background-color: #171816;
        background-image: url("../images/wallpaper_pastel.jpg");
        text-rendering: optimizeLegibility;
    }

    section {
        float: left;
        width: 50%;
        max-width: 50%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 5%;
        background-color: #1718167a;
        border-color: #171814;
        border-style: solid;
    }

    aside {
        float: right;
        width: 30%;
        max-width: 30%;
        height: fit-content;
        padding: 10px;
        margin-top: 2%;
        margin-left: 2%;
        margin-right: 2%;
        margin-bottom: 5%;
        background-color: #17181677;
        border-color: #171814;
        border-style: solid;
    }

    footer {
        display: block;
        position: fixed;
        height: 15px;
        width: 100%;
        bottom: 0px;
        padding: 10px;
        text-align: center;
        margin-top: 2%;
        background-color: #171816;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 16px;
        color: rgb(101, 255, 134);
    }

    .cabecera {
        width: auto;
        height: auto;
        margin: auto;
        background-color: #171816;
    }

    .banner {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 147px;
        width: 317px;
        background-color: #171816;
    }

    .botones {
        margin-right: 20px;
        text-decoration: solid;
    }

    .menu {
        padding: 5px;
        background-image: linear-gradient(rgb(44, 44, 44), black, rgb(44, 44, 44));
        background-position: center;
        text-align: center;
        min-width: fit-content;
        left: 20px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: #00ff62;
        border-style: solid;
        border-width: 1px;
    }

    /* MENU DESPLEGABLE */

    .dropbtn {
        background-color: rgba(0, 0, 0, 0);
        color: white;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
        text-align: center;
        max-width: 100%;
        left: 5px;
        font-family: 'versaversa', Arial, sans-serif;
        font-weight: normal;
        font-style: normal;
        font-size: 20px;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #171816;
        min-width: 10px;
        z-index: 1;
    }

    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 2px 2px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: #00ff6200;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: rgba(128, 128, 128, 0);
    }

    /* FIN MENU DESPLEGABLE */

    a:link {
        color: rgb(255, 255, 255);
    }

    a:visited {
        color: rgb(255, 255, 255);
    }

    a:hover {
        color: rgb(134, 255, 78);
    }

    .imgaside {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .imgsection {
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 20%;
        width: 50%;
        object-fit: scale-down;
        border-color: rgb(0, 255, 85);
    }

    .titulo_form {
        display: block;
        padding: 5px;
        border-color: #171814;
        border-style: solid;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: center;
        max-width: 40%;
        min-width: fit-content;
        margin: auto;
        font-weight: bold;
        font-style: normal;
        font-size: 20px;
        margin-top: 25px;
    }

    .formulario1 {
        display: block;
        padding: 10px;
        background-color: #c7c7c7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario2 {
        display: block;
        padding: 10px;
        background-color: #fff9a7;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario3 {
        display: block;
        padding: 10px;
        background-color: #b0dcff;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario4 {
        display: block;
        padding: 10px;
        background-color: #ffbbbb;
        background-position: center;
        color: #000;
        text-align: left;
        width: auto;
        margin: auto;
        font-weight: normal;
        font-style: normal;
        font-size: 14px;
    }

    .formulario5 {
        display: block;
        padding: 10px;
        background-color: #59ff99;
        background-position: center;
        color: #000;
        text-align: center;
        width: auto;
        margin: auto;
    }

}