@font-face {
    font-family: 'versaversa';
    src: url('fonts/versa-versa-webfont.woff2') format('woff2'),
         url('fonts/versa-versa-webfont.woff') format('woff');
    font-weight: normal;
    font-style:normal;

}

body {
    width:100%;
    height:100%;
    margin:auto;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: #171816;
    background-image:url("/images/wallpaper.jpg");
    text-rendering: optimizeLegibility;
}

section {
    position:inline-block;
    float: left;
    width:50%;
    height: 80%;
    padding: 10px;
    margin-top: 50px;
    margin-left: 80px;
    background-color: #171816;
    border-color: #ffffff;
    border-style: solid;

}

aside {
    position:inline-block;
    float: right;
    width:30%;
    height: 80%;
    padding: 10px;
    margin-top: 50px;
    margin-right: 80px;
    background-color: #171816;
    border-color: #ffffff;
    border-style: solid;

}

footer  {
    position:fixed;
    width: 100%;
    bottom: 0px;
    padding: 10px;
    text-align: center;
    background-color: #171816;
    font-family:'versaversa', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color:rgb(101, 255, 134) ;
    

}

.central    {
    border: 3px #000 dashed;
    margin: 10px;
    padding: 30px;
    font-size: 20px;
    font-family: arial;
    text-align: center;
    width: 95%;
    height: 300px;
}

.cabecera   {
    background-color: #171816;
}

.banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 147px;
    width: 317px;
    background-color: #171816;
}

.botones {
    margin-right:20px;
    text-decoration:solid;

}

.menu {
    padding: 1ex 0ex 1ex 0ex;
    background-image: linear-gradient(rgb(44, 44, 44), black,rgb(44, 44, 44)); 
    /*background-color: #171814;*/
    background-position: center;
    text-align:center;
    max-width: 100%;
    left: 20px;
    font-family:'versaversa', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    border: #00ff62;
    border-style: solid;
    border-width: 1px;
    
  }

/* MENU DESPLEGABLE */

.dropbtn {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-family:'versaversa', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
    text-align:center;
    max-width: 100%;
    left: 5px;
    font-family:'versaversa', Arial, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #171816;
    min-width: 10px;
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 2px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #00ff6200;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: rgba(128, 128, 128, 0);}

a:link   {
    color: rgb(255, 255, 255);


}

a:visited {
    color: rgb(255, 255, 255);
  }

a:hover   {
    color: rgb(134, 255, 78);


}

.img_aside {
    display:block;
    margin-left: auto;
    margin-right: auto;
    height: 150px;
    width: 350px;
    margin: auto;
    border-color: 5px rgb(0, 255, 85);
    
    
}

.titulo_form  {
    display: block;
    padding: 5px;
    border-color: #171814;
    border-style: solid;
    background-color: #c7c7c7;
    background-position: center;
    color:#000;
    text-align:center;
    width: 50%;
    margin: auto;
    font-weight:bold;
    font-style:normal;
    font-size: 20px;
    margin-top: 25px;
}

.formulario1  {
    display: block;
    padding: 5px;
    background-color: #c7c7c7;
    background-position: center;
    color:#000;
    text-align:left;
    width: auto;
    margin: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    

}

.formulario2  {
    display: block;
    padding: 10px;
    background-color: #fff9a7;
    background-position: center;
    color:#000;
    text-align:left;
    width: auto;
    margin: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    

}

.formulario3  {
    display: block;
    padding: 10px;
    background-color: #b0dcff;
    background-position: center;
    color:#000;
    text-align:left;
    width: auto;
    margin: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    

}

.formulario4  {
    display: block;
    padding: 10px;
    background-color: #ffbbbb;
    background-position: center;
    color:#000;
    text-align:left;
    width: auto;
    margin: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 14px;
    

}

.formulario5  {
    display: block;
    padding: 10px;
    background-color: #59ff99;
    background-position: center;
    color:#000;
    text-align:center;
    width: auto;
    margin: auto;

    

}